---
title: Ágora
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Ágora</h1>
        <h2>Strategic plan to celebrate the 250th anniversary of the city of Aveiro | Portugal</h2>
        <figure>
          <img src="../images/agora-fotos.png" alt="agora-photos" title="Ágora photos" />
        </figure>
        <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro. In celebration of 250 years of the city, the project proposed the plan to improve the structures and events in the city of Aveiro adding new artistic and cultural movements to Aveiro's tradition.
        </p>
        <figure>
          <img src="../images/agora-conceito.png" alt="agora-concept" title="Ágora concept" />
        </figure>
        <figure>
          <img src="../images/agora-logo.png" alt="agora-logotype" title="Ágora logotype" />
        </figure>
        <span>Academic project conducted at the <a href="http://www.ua.pt/">University of Aveiro</a> | 2009 <br/>Partners: Larissa Santos, Luis Felipe Maia, Luiza Sequeira e Ricardo Ibarra</span>
      </div>
    </article>
  </section>
</section>
