---
title: Ágora
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Ágora</h1>
        <h2>Plano estratégico para comemoração dos 250 anos da cidade de Aveiro | Portugal</h2>
        <p>Projeto de planejamento com o objetivo de atrair o turismo e promover a cidade de Aveiro. Em comemoração aos 250 anos da cidade, o projeto propôs o plano de melhoria das estruturas e eventos da cidade de Aveiro agregando a tradição às novas movimentações artísticas e culturais.
        </p>
        <span>Projeto acadêmico realizado na <a href="http://www.ua.pt/">Universidade de Aveiro</a> | 2009 <br/>Parceria com Larissa Santos, Luis Felipe Maia, Luiza Sequeira e Ricardo Ibarra</span>
      </div>

      <div class="project-images">
        <figure>
          <img src="../images/agora-logo.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <figure>
          <img src="../images/agora-conceito.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="../images/agora-fotos.png" alt="Infográfica Barbearia miranda" title="Infográfico Barbearia miranda" />
        </figure>
      </div>
    </article>
  </section>
</section>
