---
title: Ágora
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Ágora</h1>
        <h2>Strategic plan to celebrate the 250th anniversary of the city of Aveiro | Portugal</h2>
        <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro. In celebration of 250 years of the city, the project proposed the plan to improve the structures and events in the city of Aveiro adding new artistic and cultural movements to Aveiro's tradition.
        </p>
        <span>Academic project conducted at the <a href="http://www.ua.pt/">University of Aveiro</a> | 2009 <br/>Partners: Larissa Santos, Luis Felipe Maia, Luiza Sequeira e Ricardo Ibarra</span>
      </div>

      <div class="project-images">
        <figure>
          <img src="../images/agora-logo.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <figure>
          <img src="../images/agora-conceito.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="../images/agora-fotos.png" alt="Infográfica Barbearia miranda" title="Infográfico Barbearia miranda" />
        </figure>
      </div>
    </article>
  </section>
</section>
