---
title: Arkpad
---

<section class="project">
  <section class="project-content">
      <div id="arkpad">
      <article>
        <div class="project-description project-images">
          <h1 class="section-title">ARKPAD</h1>
          <span class="divider"></span>
          <h2 class="section-description">A new experience designing a house.</h2>
          <p>Arkpad is a platform for Architecture, Interior Design and Decoration that includes a marketplace and provide inspiration content for people and professionals.</p>
          
          <figure>
          <img src="/images/arkpad-website.png" alt="Arkpad website" title="Arkpad website" />
          </figure>
      
           
          <span class="project-credits">Graduate Final Project at <a href="http://www.faac.unesp.br/">University State of Sao Paulo - Unesp</a> | 2011<br/> Credits: <a href="https://twitter.com/vinibaggio">Vinicius Baggio</a> and Marcos Tissato Nomiso<br/>Partners: <a href="http://www.faac.unesp.br/pesquisa/pipol/pipol.html">P.I.P.O.L.</a></span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/barbearia-miranda.html">
                <img src="/images/thumb-miranda-barbershop-bw.png" alt="miranda barbershop" title="miranda barbershop"/>
              </a>
              <a href="/projects/barbearia-miranda.html">
                <h1>MIRANDA BARBERSHOP</h1>
              </a>
              <p>Revitalization project for local market at Aveiro | Portugal.</p>
            </li>
            <li>
              <a href="/projects/sourun.html">
                <img src="/images/thumb-sourun-bw-3.png" alt="sourun" title="sourun"/>
              </a>
              <a href="/projects/sourun.html">
                <h1>SOURUN</h1>
              </a>
              <p>Designing the first online running advisory service with real coaches.</p>
            </li>
            <li>
              <a href="/projects/rice-bean.html">
                <img src="/images/thumb-rice-bean-bw.png" alt="rice and bean project" title="rice and bean project"/>
              </a>
              <a href="/projects/rice-bean.html">
                <h1>RICE AND BEAN</h1>
              </a>
              <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
