---
title: Autoseg Branding
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1 class="section-title">AUTOSEG</h1>
        <span class="divider"></span>
        <h2 class="section-description">The Autoseg Branding aims to convey credibility and security to their customers. Their culture appears seriousness and efficiency at the same time has a simple and modern structure. Your logo abstractly symbolizes the combination of access and safes with reference to security and control. Its elements represent the various types of systems to form an integrated, representative of Autoseg's products with unique and customized system.<br/><a href="http://www.autoseg.com/branding-guidelines.html" target="_blank">View Autoseg branding ></a></h2>
        <figure>
          <img src="/images/autoseg-branding-logo.png" alt="autoseg logo" title="autoseg logo" />
        </figure>
        <figure>
          <img src="/images/autoseg-branding-web.png" alt="autoseg branding web" title="autoseg branding web" />
        </figure>
        <figure>
          <img src="/images/autoseg-branding-logos.png" alt="autoseg products logo" title="autoseg products logo" />
        </figure>
        <figure>
          <img src="/images/autoseg-branding-web-products.png" alt="autoseg branding web" title="autoseg branding web" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2012</span>
      </div>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
