---
title: Miranda Barbershop
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1 class="section-title">MIRANDA BARBERSHOP</h1>
        <span class="divider"></span>
        <h2 class="section-description">Revitalization project for local market at Aveiro | Portugal</h2>
        <figure>
          <img src="/images/pormenores.png" alt="Miranda Barbershop photos" title="Miranda Barbershop photos" />
        </figure>
        <p>Miranda Barbershop
        Strategic design project with the goal to revitalize the traditional Miranda Barbershop. The barbershop elements is really special by your antique and typically portuguese construction. The project aims to make the business more attractive without losing your essence and to upgrade the values of its habits, a solid re-branding and a slightly improvement in the client's reception.
        </p>
        <figure>
          <img src="/images/miranda_prancha.png" alt="Miranda Barbershop board" title="Miranda Barbershop board" />
        </figure>
        <figure>
          <img src="/images/logo-barbearia.png" alt="Miranda Barbershop logo" title="Miranda Barbershop logo" />
        </figure>
        <figure>
          <img src="/images/infografia-barbearia.png" alt="Miranda Barbershop storefront" title="Miranda Barbershop storefront" />
        </figure>
        <span>Academic project conducted at the <a href="http://www.ua.pt/">University of Aveiro</a> | 2009 <br/>Partners: Ana Pereira e Judite Tavares</span>
      </div>
    </article>
  </section>
</section>
