---
title: Miranda Barbershop
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Miranda Barbershop</h1>
        <h2>Revitalization project for local market at Aveiro | Portugal</h2>
        <figure>
          <img src="/images/pormenores.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <p>Miranda Barbershop
        Strategic design project with the goal to revitalize the traditional Miranda Barbershop. The barbershop elements is really special by your antique and typically portuguese construction. The project aims to make the business more attractive without losing your essence and to upgrade the values of its habits, a solid re-branding and a slightly improvement in the client's reception.
        </p>
        <figure>
          <img src="/images/miranda_prancha.png" alt="Prancha de apresentação Barbearia miranda" title="Prancha de apresentação Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/logo-barbearia.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/infografia-barbearia.png" alt="Infográfica Barbearia miranda" title="Infográfico Barbearia miranda" />
        </figure>
        <span>Academic project conducted at the <a href="http://www.ua.pt/">University of Aveiro</a> | 2009 <br/>Partners: Ana Pereira e Judite Tavares</span>
      </div>
    </article>
  </section>
</section>
