---
title: Miranda Barbershop
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Barbearia Miranda</h1>
        <h2>Projeto de revitalização do comércio local do centro da cidade de Aveiro | Portugal</h2>
        <p>Projeto de design estratégico com o objetivo de revitalizar a tradicional Barbearia Miranda. Seus elementos a tornam única e especial com sua construção antiga e tipicamente portuguesa. O projeto propõe a revalorização de seus costumes, uma definição melhor de sua identidade e uma melhora na recepção de seus clientes, com o objetivo tornar o negócio mais atrativo e rentável sem a perda de sua essência.
        </p>
        <span>Projeto acadêmico realizado na <a href="http://www.ua.pt/">Universidade de Aveiro</a> | 2009 <br/>Parceria com Ana Pereira e Judite Tavares</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/pormenores.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/logo-barbearia.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/infografia-barbearia.png" alt="Infográfica Barbearia miranda" title="Infográfico Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/miranda_prancha.png" alt="Prancha de apresentação Barbearia miranda" title="Prancha de apresentação Barbearia miranda" />
        </figure>
      </div>
    </article>
  </section>
</section>
