---
title: Collective Refrigerator
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Collective Refrigerator</h1>
        <h2>Project based on the principles of human-centered design to create solutions to provide healthier food.</h2>
        <div class="project-images">
          <figure>
            <img src="../images/hcd-refrigerator.png" alt="Collective Refrigerator" title="Collective Refrigerator" />
          </figure>
        </div>
        <h3>The Challenge</h3>
        <p>How might we provide healthier food options for people in need of them? Little infrastructure for the distribution and preservation of food. Food is often spoiled or lost during distribution. In other places, healthy food options are simply unavailable or community members lack the knowledge to make healthy food choices. Another constraint is access to capital, both for small businesses providing healthy food and potential customers. </p>
        <h3>Research</h3>
        <p>Learn from people. We spend some time in the field and talk with people to see what they think and understand about healthier food, their needs, behaviors and frustrations. Talking with members of the community, experts</p>
        <h3>Ideation</h3>
        <p>The ideate phase we got insights based on research analyze. The team shared the stories we learned and start create new ideas.</p>
        <h3>Solutions</h3>
        <span>Project result from <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">Human Centered Design for Social innovation course</a> from <a href="http://acumen.org/">+Acumen</a> | 2013 <br/>Partners: Rogério Rossi, Mariana Ozaki, André Noboru, Debora Midori, Ricardo Taguchi.</span>
      </div>
    </article>
  </section>
</section>
