<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Elixir</h1>
        <h2>Logotipo para criação de uma linguagem de programação. </h2>
        <p>Baseado no lado lúdico do elixir como poções mágicas, suas cores e a nuancia em formato de gota, trazem a modernidade da linguagem, bem como o sentimento robusto e sólido fazendo referência à linguagem, mais antiga e parte integrante, o Erlang.
        </p>
        <span>Desenvolvido por <a href="http://plataformatec.com.br/">Plataformatec - Consultoria e Engenharia de Software</a> | 2011</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/elixir-vertical.png" alt="Logo Elixir versão vertical" title="Logo Elixir versão vertical" />
        </figure>
        <figure>
          <img src="/images/elixir-horizontal.png" alt="Logo Elixir" title="Logo Elixir" />
        </figure>
        <figure>
          <img src="/images/elixir-variantes.png" alt="Variações do logo Elixir" title="Variações do logo Elixir" />
        </figure>
      </div>
    </article>
  </section>
</section>
