---
title: Elixir
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Elixir</h1>
        <h2>Logotype for a programming language. Based on the playful side of the elixir as magic potions, the colors and nuance in drop form bring the modernity of language as well as robust and solid feeling of the Erlang. </h2>
        <figure>
          <img src="/images/elixir-vertical.png" alt="Logo Elixir versão vertical" title="Logo Elixir versão vertical" />
        </figure>
        <figure>
          <img src="/images/elixir-horizontal.png" alt="Logo Elixir" title="Logo Elixir" />
        </figure>
        <figure>
          <img src="/images/elixir-variantes.png" alt="Variações do logo Elixir" title="Variações do logo Elixir" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec - Consulting and Software Enginnering</a> | 2011</span>
      </div>
    </article>
  </section>
</section>
