---
title: Gourmet Magazine
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Emporium Gourmet Magazine</h1>
        <h2>Graphic design project for gastronomy magazine</h2>
        <p>Gourmet Emporium Magazine is produced based in gastronomy essence that covers food, drinks, materials used in food and cultural aspects associated with cuisine. Bring articles and special graphic production so that the reader has a refined magazine combined with the pleasure of fine cuisine. With the U.S. paper format and a clean design, the magazine shows a sophistication with well produced photos and use of special finishes to touch the senses of readers.</p>
        <span>Academic project conducted at <a href="http://www.faac.unesp.br/">University State of Sao Paulo - Unesp</a> | 2010</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/gourmet-logo.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
        <figure>
          <img src="/images/gourmet-color.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
        <figure>
          <img src="/images/gourmet-photos.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
        <figure>
          <img src="/images/gourmet-indice.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
        <figure>
          <img src="/images/gourmet-ratatuille.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
      </div>
    </article>
  </section>
</section>
