---
title: Espaço Arte
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Espaço Arte</h1>
        <h2>Website and iPad App to an art gallery. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.<br/><a href="https://itunes.apple.com/br/app/espaco-arte/id546723535?mt=8"target="_blank">View Espaço Arte app ></a></h2>
        <figure>
          <img src="/images/espaco-arte-ipad.png" alt="Espaço Arte iPad" title="Espaço Arte iPad" />
        </figure>
        <figure>
          <img src="/images/espaco-arte-site-app.png" alt="Espaço Arte app" title="Espaço Arte app" />
        </figure>
        <figure>
          <img src="/images/espaco-arte-site.png" alt="Espaço Arte website" title="Espaço Arte website" />
        </figure>
        <span>Develop at <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2012
        </span>
      </div>
    </article>
  </section>
</section>
