---
title: Espaço Arte
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Espaço Arte</h1>
        <h2>Website and iPad App to an art gallery. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</h2>
        <figure>
          <img src="/images/espaco-arte-ipad.png" alt="App Soccerex" title="App Soccerex" />
        </figure>
        <figure>
          <img src="/images/espaco-arte-site-app.png" alt="App Soccerex - Ícones" title="App Soccerex - Ícones" />
        </figure>
        <figure>
          <img src="/images/espaco-arte-site.png" alt="App Soccerex - Telas" title="App Soccerex - Telas" />
        </figure>
        <span>Develop at <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2012
        </span>
      </div>
    </article>
  </section>
</section>
