---
title: Rice and bean
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">MONEY BAG</h1>
        <span class="divider"></span>
        <h2 class="section-description">Designing the future of money transactions in a cashless scenario.</h2>
        
        <h3>CONTEXT</h3>
        <p>Shift towards cashless society as technology (biometrics) and digital infrastructure progress, a shift that been regarded as the ‘ULTIMATE time saver’. Modern day life is hectic. Time is fast becoming greatest resource of money. Everyday problem ESPECIALLY for working mom, time poor, depends upon convenience and efficiency to organise, manage family activity. To create an everyday responsive solution, that addresses both aspects, building upon familiar existing technologies (already we have calendars, contacts, cash transactions on mobile platforms).</p>

        <div class="project-images">
          <figure>
            <img src="/images/money-bag-persona.png" alt="money bag" title="money bag" />
          </figure>
        </div>

        <h3>THE PROJECT</h3>
        <p>Moneybags a cashless app for mother and child (10-15 years) that facilitates pre-approved transactions remotely,allowing the mother to track, manage and regulate child’s spending activity, WHILST facilitating childs independence and increasing their contact with ‘money’ through feedback, points of learning & contact.</p>

        <div class="project-images">
          <figure>
            <img src="/images/money-bag-story.png" alt="money bag" title="money bag" />
          </figure>
        </div>

        <p>Four days project presented at Frog Design Milan.</p>
        <div class="project-images">
          <figure>
            <img src="/images/money-bag-presentation-2.png" alt="money bag" title="money bag" />
          </figure>

        </div>



        <span>Project result from <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">Human Centered Design for Social innovation course</a> from <a href="http://acumen.org/">+Acumen</a> | 2013 <br/>Partners: Rogério Rossi, Mariana Ozaki, André Noboru, Debora Midori, Ricardo Taguchi.</span>
      </div>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
