---
title: Rice and bean
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">MONTE AZUL</h1>
        <span class="divider"></span>
        <h2 class="section-description">Contributing for sustainability of NGO Monte Azul through strategic design.</h2>
        <!-- <div class="project-images">
          <figure>
            <img src="../images/hcd-refrigerator.png" alt="Rice and bean" title="Rice and bean" />
          </figure>
        </div> -->
        <h3>Context</h3>
        <p>The Monte Azul Community Association is a non-governmental organization that operates primarily for the integral development of the human being, through projects and actions in education, food, health, environment and culture. Currently, a decrease of resources is concerned the NGO, and our challenge is to contribute to the sustainability of Monte Azul through strategic design.</p>

        <h3>Research</h3>
        <p>Our research was focused in understanding the role of philosophy, how do people understand anthroposophy as a human change experiment? How to make the Monte Azul speech more flexible and more comprehensive understanding? And how to structure thinking actions the future of Monte Azul?</p>

        <h3>Concept</h3>
        <iframe src="https://player.vimeo.com/video/159279312" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/159279312">Workshop Monte Azul</a> from <a href="https://vimeo.com/user7020973">Bruna Kochi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        <p>The strategic planning experience and communication aims to show the full potential of Monte Azul through their projects and their values, consequently attract more people and create a network of growing relationships. Transforming Monte Azul through a natural process, without losing their values, and contribute to achieving the sustainability of Monte Azul.</p>

        <h3>Solution</h3>
        <p>Strategic Planning and Communication Experience through a new market positioning and dissemination actions and engagement focused on people and companies, we can promote a greater involvement of them with the Monte Azul, getting new partners, funding and donors, relying always on the mutual and free exchange, using the benefits that Monte Azul offers since joining the needs of people with market opportunities to generate new solutions. Our project proposes to create small changes to be put in place and validated over time, with the positive result shall be put in place and thus it is possible to transform the NGO community and society with specific actions and so more concrete. This format is thought through concepts and strategies to enable the involvement of people and the possibility of change.</p>

        <span>Final Project in Master of Strategic Design at Istituto Europeo di Design - Sao Paulo | 2015<br/>Credits: Eduardo Lobo and Denise Scassa.<br/>
        Partners: Monte Azul</span>

      </div>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
