---
title: Rice and bean
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">MONTE AZUL</h1>
        <span class="divider"></span>
        <h2 class="section-description">Contributing for sustainability of NGO Monte Azul through strategic design.</h2>
        <!-- <div class="project-images">
          <figure>
            <img src="../images/hcd-refrigerator.png" alt="Rice and bean" title="Rice and bean" />
          </figure>
        </div>
        <h3>The Challenge</h3>
        <p>How might we provide healthier food options for people in need of them? Little infrastructure for the distribution and preservation of food. Food is often spoiled or lost during distribution. In other places, healthy food options are simply unavailable or community members lack the knowledge to make healthy food choices. Another constraint is access to capital, both for small businesses providing healthy food and potential customers. </p>
        <h3>The project</h3>
        <p>We spend some time in the field and talk with people to see what they think and understand about healthier food, their needs, behaviors and frustrations. Talking with members of the community and experts to learn from people. In an ideate phase we got insights based on research analyze. The team shared the stories we learned and start create new ideas. Based on the needs and behavior of people, ideas and insights analyzed we think about a collective refrigerator solution with easy access to people, the aim of providing fresh food and select a balanced way through kits with seasonal food to prepare in house or take out. Providing preparation instructions and information on better nutrition. Avoiding food waste, a more balanced supply to the population and greater incentive to culinary learning. Also there is the possibility of fewer individual refrigerators.</p>
        <span>Project result from <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">Human Centered Design for Social innovation course</a> from <a href="http://acumen.org/">+Acumen</a> | 2013 <br/>Partners: Rogério Rossi, Mariana Ozaki, André Noboru, Debora Midori, Ricardo Taguchi.</span>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <h1>text title</h1>
              <p>description</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
