<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Musashi</h1>
        <h2>Releitura do livro Musashi</h2>
        <p>Proposta de outra capa para o livro musashi, baseado no estilo oriental e na história traçada pelo livro. Seus capítulos são representados graficamente pelos elementos da natureza.
        </p>
        <span>Projeto realizado na <a href="http://www.faac.unesp.br/">Universidade Estadual Paulista - Unesp</a> | 2010</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/musashi-livro.png" alt="Releitura Musashi" title="Releitura Musashi" />
        </figure>
      </div>
    </article>
  </section>
</section>
