---
title: Nodus
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Nodus</h1>
        <h2>Interactive installation from human network related to Chaos Theory.</h2>
        <figure>
          <img src="/images/nodus-aplicacao.png" alt="Nodus Project app" title="Nodus Project app" />
        </figure>
        <p>The project is an installation that questions the human interrelation and network relations through design. The power and influence that each has, connects and transforms the network. The butterfly effect can generate multiple effects, can create the chaos that inspire us. To design is to be an intrinsic relationship from self. Seeking balance in our relationships between chaos and order, talking in harmony of relations that covers material and transcends state of the purest beauty.
        The body movements interact with the space represented attempts to demonstrate states of chaos and order, but mainly the transition and interrelationship of the systems. The interaction search the state that generates the harmonic combination of all parties. The smooth and striated spaces that weave network, switching from one to the other forms of intensive and extensive.</p>
        <figure>
          <img src="/images/nodus-logo.png" alt="Nodus logo" title="Nodus logo" />
        </figure>
        <figure>
          <img src="/images/nodus-apresentacao-aplicativo.png" alt="Nodus Project presentation" title="Nodus Project presentation" />
        </figure>
        <figure>
          <img src="/images/nodus-video.png" alt="Nodus Project video frames" title="Nodus Project video frames" />
        </figure>
        <figure>
          <object style="width:100%; height:600px" >
            <!-- <param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;embedBackground=%23000000&amp;backgroundColor=%23222222&amp;documentId=110608214653-4334886df43b45198ec47bbaaa3e178a" /> -->
            <param name="allowfullscreen" value="true"/>
            <param name="menu" value="false"/>
            <param name="wmode" value="transparent"/>
            <embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:100%;height:600px" flashvars="mode=mini&amp;embedBackground=%23000000&amp;backgroundColor=%23222222&amp;documentId=110608214653-4334886df43b45198ec47bbaaa3e178a" />
          </object>
          <!-- <div style="width:420px;text-align:left;">
                            <a href="http://issuu.com/brutiko/docs/nodus?mode=window&amp;backgroundColor=%23222222" target="_blank">Open publication</a> - Free
                            <a href="http://issuu.com" target="_blank">publishing</a> -
                            <a href="http://issuu.com/search?q=aplicativo" target="_blank">More aplicativo</a>
                          </div> -->
        </figure>
        <span>Graduate Final Project at <a href="http://www.faac.unesp.br/">University State of Sao Paulo - Unesp</a> | 2011<br/> Credits: <a href="https://twitter.com/vinibaggio">Vinicius Baggio</a> and Marcos Tissato Nomiso<br/>Partners: <a href="http://www.faac.unesp.br/pesquisa/pipol/pipol.html">P.I.P.O.L.</a></span>
      </div>
    </article>
  </section>
</section>
