---
title: Plataformatec
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Plataformatec</h1>
        <h2>Redesign Plataformatec Branding</h2>
        <p>Logotype creation, corporate identity, website and graphic compositions for the new Plataformatec brand to launch a new concept in consulting.</p>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec - Consulting and Software Engineering</a> | 2011</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/ptec-logo.png" alt="Foto composição de tipos móveis" title="Foto composição de tipos móveis" />
        </figure>
        <figure>
          <img src="/images/ptec-logo-vertical.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-aplicacoes.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-cartoes.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-website.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
      </div>
    </article>
  </section>
</section>
