---
title: Plataformatec Website
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Plataformatec Website</h1>
        <h2>Interface e Front end</h2>
        <p>Projeto de interface, fluxo de telas, desenvolvimento de HTML e CSS para o site corporativo da Plataformatec.
        </p>
        <span>Desenvolvido por <a href="http://plataformatec.com.br/">Plataformatec - Consultoria e Engenharia de Software</a> | 2011</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/ptec-home.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-services_.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-services-print.png" alt="Infogr치fica Barbearia miranda" title="Infogr치fico Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-responsivo.png" alt="Infogr치fica Barbearia miranda" title="Infogr치fico Barbearia miranda" />
        </figure>
      </div>
    </article>
  </section>
</section>
