---
title: Plataformatec
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1 class="section-title">PLATAFORMATEC</h1>
        <span class="divider"></span>
        <h2 class="section-description">Redesign Plataformatec Branding. Logotype creation, corporate identity, website and graphic compositions for the new Plataformatec brand to launch a new concept in consulting.</h2>
        <figure>
          <img src="/images/ptec-logo.png" alt="Plataformatec logo" title="Plataformatec logo" />
        </figure>
        <!-- <figure>
                  <img src="/images/ptec-logo-vertical.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
                </figure> -->
        <figure>
          <img src="/images/ptec-aplicacoes.png" alt="Plataformatec identity" title="Plataformatec identity" />
        </figure>
        <figure>
          <img src="/images/ptec-cartoes.png" alt="Plataformatec business card" title="Plataformatec business card" />
        </figure>
        <figure>
          <img src="/images/ptec-website.png" alt="Plataformatec website" title="Plataformatec website" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Engineering</a> | 2011</span>
      </div>
    </article>
  </section>
</section>
