<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Plataformatec</h1>
        <h2>Branding para a nova marca Plataformatec</h2>
        <p>Criação de logotipo, identidade gráfica, website e composições gráficas para a nova marca Plataformatec. Empresa de consultoria e engenharia de software para lançar um novo conceito em consultoria.</p>
        <span>Desenvolvido por <a href="http://plataformatec.com.br/">Plataformatec - Consultoria e Engenharia de Software</a> | 2011</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/ptec-logo.png" alt="Foto composição de tipos móveis" title="Foto composição de tipos móveis" />
        </figure>
        <figure>
          <img src="/images/ptec-logo-vertical.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-aplicacoes.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-cartoes.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/ptec-website.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
      </div>
    </article>
  </section>
</section>
