---
title: Plataformatec Website
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Plataformatec Website</h1>
        <h2>New <a href="http://plataformatec.com.br/">website to Plataformatec company</a>. Front-end and User Interface.</h2>
        <figure>
          <img src="/images/ptec-responsivo.png" alt="Infogr치fica Barbearia miranda" title="Infogr치fico Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-home.png" alt="Detalhes da Barbearia miranda" title="Detalhes da Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-services_.png" alt="Logo Barbearia miranda" title="Logo Barbearia miranda" />
        </figure>
        <figure>
          <img src="/images/ptec-services-print.png" alt="Infogr치fica Barbearia miranda" title="Infogr치fico Barbearia miranda" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2011</span>
      </div>
    </article>
  </section>
</section>
