---
title: Soccerex
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1 class="section-title">SOCCEREX</h1>
        <span class="divider"></span>
        <h2 class="section-description">iPhone App to follow the event Soccerex - The Global Leader for the Business of Football. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</h2>
        <figure>
          <img src="/images/soccerex-iphone_.png" alt="App Soccerex" title="App Soccerex" />
        </figure>
        <p>
        </p>
        <figure>
          <img src="/images/soccerex-telas.png" alt="App Soccerex - Telas" title="App Soccerex - Telas" />
        </figure>
        <figure>
          <img src="/images/soccerex-icones.png" alt="App Soccerex - Ícones" title="App Soccerex - Ícones" />
        </figure>
        <span>Develop at <a href="http://plataformatec.com.br/">Plataformatec - Consulting and Software Enginnering</a> | 2010<br/>Credits: <a href="https://twitter.com/vinibaggio">Vinicius Baggio</a>
        </span>
      </div>
    </article>
  </section>
</section>
