---
title: Space Box
---

<section class="project">
  <section class="project-content">
    <div id="space-box">
      <article>
        <div class="project-description">
          <h1 class="section-title">SPACE BOX</h1>
          <span class="divider"></span>
          <h2 class="section-description">Providing a better visiting experience at National Museum of Science and Technology.</h2>
          
          <h3>CHALLENGE</h3>
          <p>The Natonal Museum of Science and Technology entitled to Leonardo da Vinci is the largest of its kind in Italy, one of the most important in Europe and across the world. The Museum often experiments new languages to communicate stories to its public, engaging and reaching out beyond educatonal institutions. The Museum preserves, studies and interprets the historic heritage, to make it accessible for the public. How might we provide a better experience for occasional visitors?</p>

          <h3>DESIGN RESEARCH</h3>
          <p>Talking with customers The museum is alive, always changing and improving,</p>
          <div class="project-images">
            <figure>
              <img src="/images/space-box-research.png" alt="space box" title="space box" />
            </figure>
          </div>

          <h3>The project</h3>
          <p>We spend some time in the field and talk with people to see what they think and understand about healthier food, their needs, behaviors and frustrations. Talking with members of the community and experts to learn from people. In an ideate phase we got insights based on research analyze. The team shared the stories we learned and start create new ideas. Based on the needs and behavior of people, ideas and insights analyzed we think about a collective refrigerator solution with easy access to people, the aim of providing fresh food and select a balanced way through kits with seasonal food to prepare in house or take out. Providing preparation instructions and information on better nutrition. Avoiding food waste, a more balanced supply to the population and greater incentive to culinary learning. Also there is the possibility of fewer individual refrigerators.</p>

          <!-- <div class="project-images">
            <figure>
              <img src="/images/space-box-museum.png" alt="space box" title="space box" />
            </figure>
          </div>

          <div class="project-images">
            <figure>
              <img src="/images/space-box-postits.png" alt="space box" title="space box" />
            </figure>
          </div> -->

          <span class="project-credits">Academic project conducted at <a href="http://www.servicedesignmaster.com/">Politecnico di Milano</a> | 2009 <br/>Partners: Alessandro Spazoli, Elizabeth Meehen and Erica Invezzi.</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/money-bag.html">
                <img src="/images/thumb-money-bag-bw.png" alt="money bag" title="money bag"/>
              </a>
              <a href="/projects/money-bag.html">
                <h1>MONEY BAG</h1>
              </a>
              <p>Designing the future of money transactions in a cashless scenario.</p>
            </li>
            <li>
              <a href="/projects/monte-azul.html">
                <img src="/images/thumb-monte-azul-bw.png" alt="monte azul" title="monte azul"/>
              </a>
              <a href="/projects/monte-azul.html">
                <h1>MONTE AZUL</h1>
              </a>
              <p>Contributing for sustainability of NGO Monte Azul through strategic design.</p>
            </li>
            <li>
              <a href="/projects/autoseg.html">
                <img src="/images/thumb-autoseg-bw.png" alt="autoseg" title="autoseg"/>
              </a>
              <a href="/projects/autoseg.html">
                <h1>AUTOSEG</h1>
              </a>
              <p>New brand and website to Autoseg company. Front-end and User Interface.</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
