<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Type</h1>
        <h2>Composição manual e impressão tipográfica.</h2>
        <p>Criação de cartões de visita utilizando o sistema e a linguagem de composição manual e impressão tipográfica.</p>
        <span>Projeto realizado na <a href="http://www.oficinatipografica.com.br/index.html">Oficina Tipográfica São Paulo</a> | 2012</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/composicao-nome.png" alt="Foto composição de tipos móveis" title="Foto composição de tipos móveis" />
        </figure>
        <figure>
          <img src="/images/composicao-tipos.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
        <figure>
          <img src="/images/composicao-prova.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
        </figure>
      </div>
    </article>
  </section>
</section>
