<section class="page">
  <div class="wrapper-content">
    <section class="about-content">
      <div>
        <div>
          <h1 class="section-title">ABOUT</h1>
          <span class="divider"></span>
          <p class="section-description">I am a Designer from Brazil living in Milan. In my life I always pursuit projects that could bring value for people’s lives and a society more affordable and fair. My education background is in Graphic Design at Sao Paulo State University - UNESP, worked as UX/UI Designer and now working as Service Designer.</p>
        </div>
        <aside class="bruna-photo">
          <img src="/images/bruna-kochi-bw.png" alt="Bruna Kochi"/>
        </aside>
      </div>
    </section>
    <section class="curriculum-description">
      <div class="curriculum-box">
        <h3>WORK EXPERIENCE</h3>
        <span class="divider"></span>

        <div>
          <small>Jun 2015 – Aug 2015<br/>(3 months)</small>
          <div class="curriculum-details">
            <h4>UX Designer</h4>
            <h4><a href="">Folha de S.Paulo</a></h4>
            <p>Implementation and development of User Experience area for digital products and internal systems of Folha de S. Paulo.</p>
          </div>
        </div>
        
        <div>
          <small>Jun 2013 – May 2015<br/>(2 years)</small>
          <div class="curriculum-details">
            <h4>UX / UI Designer</h4>
            <h4><a href="">Jurema Consulting and Software Innovation</a></h4>
            <p>Designing web and mobile applications, understanting users to improve products and services. Drafting and creating prototypes, designing user flow and user interface.</p>
          </div>
        </div>

        <div>
          <small>Sep 2010 - May 2013<br/>(2 years, 9 months)</small>
          <div class="curriculum-details">
            <h4>Graphic and Interaction Designer</h4>
            <h4><a href="">Plataformatec Consulting and Software</a></h4>
            <p>Engineering Designing and developing internal systems and web solutions. Concept creation, structuring wireframes, user interface, front-end development.</p>
          </div>
        </div>

        <div>
          <small>Nov 2009 – Sep 2010<br/>(11 months)</small>
          <div class="curriculum-details">
            <h4>Intern in new products area</h4>
            <h4><a href="">MStech Consulting</a></h4>
            <p>Development of software solutions MStech. Design interface for learning objects in educational products focused on the Classmate.</p>
          </div>
        </div>

        <!-- <div>
          <small>Mar 2009 - Jun 2009<br/>(4 months)</small>
          <div class="curriculum-details">
            <h4>Intern in graphic design area</h4>
            <h4><a href="">VerdiSign Communication</a></h4>
            <p>External communication - creating layouts for frontages, banners and large format advertising.</p>
          </div>
        </div>

        <div>
          <small>Jun 2007 - Dec 2007<br/>(7 months)</small>
          <div class="curriculum-details">
            <h4>Intern in graphic design area</h4>
            <h4><a href="">Graffiti Communication</a></h4>
            <p>Developing and concepting graphic design for brands, events, products and services.</p>
          </div>
        </div> -->
      </div>

      <div class="education-box">
        <h3>EDUCATION</h3>
        <span class="divider"></span>

        <div>
          <small>Sep 2015 – present</small>
          <div class="curriculum-details">
            <h4>Master of Service Design</h4>
            <p><a href="">Politecnico di Milano – Milano | Italy</a></p>
          </div>
        </div>

        <div>
          <small>May 2013 – Jan 2015</small>
          <div class="curriculum-details">
            <h4>Postgraduation, Strategic Design</h4>
            <p><a href="">Istituto Europeo di Design – IED São Paulo | Brazil</a></p>
          </div>
        </div>

        <div>
          <small>Mar 2007 - Jul 2011</small>
          <div class="curriculum-details">
            <h4>Bachelor's degree, Graphic Design</h4>
            <p><a href="">Sao Paulo State University “Júlio de Mesquita Filho” - UNESP Bauru | Brazil</a></p>
          </div>
        </div>

        <div>
          <small>Sep 2008 - Jan 2009</small>
          <div class="curriculum-details">
            <h4>Bachelor's degree, Exchange Program, Design</h4>
            <p><a href="">University of Aveiro - UA | Portugal</a></p>
          </div>
        </div>  

        <div>
          <small>Mar 2005 - Dec 2006</small>
          <div class="curriculum-details">
            <h4>Bachelor's degree, Architecture and Urbanism, incompleted</h4>
            <p><a href="">State University of Campinas – UNICAMP | Brazil</a></p>
          </div>
        </div>

      </div>
      <!-- <div class="skill-box">
        <h3>SKILLS AND TOOLS</h3>
        <span class="divider"></span>
        
        <div class="curriculum-details">
          <h4>Strategic and Service Design</h4>
          <p>Design research, Personas, Customer Journey, Blueprint, Service System Map, Prototype</p>
        </div>

        <div class="curriculum-details">
          <h4>Graphic Design</h4>
          <p>Adobe Illustrator, Adobe InDesign, Adobe Photoshop</p>
        </div>

        <div class="curriculum-details">
          <h4>Interaction Design</h4>
          <p>Proto.io, Axure, Balsamic</p>
        </div>

        <div class="curriculum-details">
          <h4>Front-end development</h4>
          <p>HTML/CSS, Basic knowledge of JavaScript and jQuery, Basic knowledge of GIT</p>
        </div>

        <div class="curriculum-details">
          <h4>Interactive art</h4>
          <p>Processing, Adobe After Effects, Adobe Flash</p>
        </div>

      </div> -->
      <div class="clear"></div>
    </section>

    <div>
      <a class="button-more" href="/projects.html">DOWNLOAD COMPLETE CV</a>
    </div>
  </div>
</section>