<section class="page">
  <div class="wrapper-content">
    <section class="about-content">
      <div>
        <div>
          <h1 class="section-title">ABOUT</h1>
          <span class="divider"></span>
          <p class="section-description">Hi! I am Bruna Kochi, I am a Service, Strategic and UX/UI Designer. I've been working with digital products and services with knowledge in software development and innovation consultancy. I have always pursued projects and companies that could bring value for people’s lives. I truly believe that through user-centered design we can improve products and services experience and generate solutions that fit user needs and business strategies.
          </p>
        </div>
        <aside class="bruna-photo">
          <img src="/images/bruna-kochi-bw.png" alt="Bruna Kochi"/>
        </aside>
      </div>
    </section>

    <!-- <div>
      <a class="button-more" href="/projects.html">DOWNLOAD COMPLETE CV</a>
    </div> -->
  </div>
</section>