<section class="page">
  <div class="wrapper-content">
    <section class="content">
      <article class="box">
        <a href="/projects/nodus.html">
          <img src="images/thumb-nodus.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Nodus</h2>
            <span>Research and Installation</span>
            <p>Project that questions the human interrelation and network relations through design</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/autoseg-branding.html">
          <img src="images/thumb-autoseg-branding.png" alt="autoseg branding" />
          <div class="box-hover">
            <h2>Autoseg Branding</h2>
            <span>Graphic Design</span>
            <p>Redesign the company branding to create a new identity.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/emporio-gourmet.html">
          <img src="images/thumb-emporio-gourmet.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Emporium Gourmet</h2>
            <span>Graphic Design</span>
            <p>Graphic Production, Branding and visual composition layout.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/soccerex.html">
          <img src="images/thumb-soccerex.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Soccerex</h2>
            <span>Interface</span>
            <p>UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</p>
          </div>
        </a>
      </article>
    </section>
    <section class="content">
      <article class="box">
        <a href="/projects/plataformatec-website.html">
          <img src="images/thumb-ptec-website.png" alt="plataformatec website" />
          <div class="box-hover">
            <h2>Plataformatec</h2>
            <span>Interface</span>
            <p>New website to Plataformatec company. Front-end and User Interface.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/barbearia-miranda.html">
          <img src="images/thumb-miranda.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Miranda Barbershop</h2>
            <span>Strategic Design</span>
            <p>Project with the goal to revitalize the traditional Miranda Barbershop.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/elixir.html">
          <img src="images/thumb-elixir.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Elixir</h2>
            <span>Graphic Design</span>
            <p>Logo creation for a programming language.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/plataformatec.html">
          <img src="images/thumb-ptec.png" alt="Plataformatec" />
          <div class="box-hover">
            <h2>Plataformatec Branding</h2>
            <span>Brand Redesign</span>
            <p>Redesign the company branding to create a new identity.</p>
          </div>
        </a>
      </article>
    </section>
    <section class="content">
      <article class="box">
        <a href="/projects/collective-refrigerator.html">
          <img src="images/thumb-refrigerator.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Collective Refrigerator</h2>
            <span>Design Thinking</span>
            <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/espaco-arte.html">
          <img src="images/thumb-espaco-arte.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Espaço Arte</h2>
            <span>Interface</span>
            <p>Website and iPad App to an art gallery.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/agora.html">
          <img src="images/thumb-agora.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Ágora</h2>
            <span>Strategic Design</span>
            <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/autoseg-website.html">
          <img src="images/thumb-autoseg-website.png" alt="autoseg website" />
          <div class="box-hover">
            <h2>Autoseg website</h2>
            <span>Interface</span>
            <p>New website to Autoseg company. Front-end and User Interface.</p>
          </div>
        </a>
      </article>
    </section>
  </div>
  <span class="register">All rights reserved © 2014 Bruna Kochi</span>
</section>
