<section class="page">
  <div class="wrapper-content">
    <section class="content">
      <article class="box">
        <a href="/projects/nodus.html">
          <img src="images/thumb-nodus.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Nodus</h2>
            <span>Instalação e pesquisa</span>
            <p>Projeto de instalação interativo que questiona a interrelação humana e dela com o meio através do design. O poder e a influência que cada um tem, conecta e transforma a rede.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/soccerex.html">
          <img src="images/thumb-soccerex.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Soccerex</h2>
            <span>Interface</span>
            <p>Projeto de criação de interface, estudo de fluxos e prototipagem para desenvolvimento de aplicativo iOS.</p>
          </div>
        </a>
      </article>
    </section>
    <section class="content">
      <article class="box">
        <a href="/projects/barbearia-miranda.html">
          <img src="images/thumb-miranda.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Barberia Miranda</h2>
            <span>Design estratégico</span>
            <p>Projeto de design estratégico com o objetivo de revitalizar a tradicional Barbearia Miranda.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/emporio-gourmet.html">
          <img src="images/thumb-emporio-gourmet.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Empório Gourmet</h2>
            <span>Design gráfico</span>
            <p>Produção de peça gráfica de revista, diagramação estudo de marca e composição visual.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/plataformatec.html">
          <img src="images/thumb-ptec.png" alt="Plataformatec" />
          <div class="box-hover">
            <h2>Branding Plataformatec</h2>
            <span>Redesign de marca</span>
            <p>Reformulação de marca para criação de nova identidade para a empresa.</p>
          </div>
        </a>
      </article>
    </section>
    <section class="content">
      <article class="box">
        <a href="/projects/collective-refrigerator.html">
          <img src="images/thumb-agora.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Collactive Refrigerator</h2>
            <span>Design Thinking</span>
            <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/agora.html">
          <img src="images/thumb-agora.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Ágora</h2>
            <span>Design estratégico</span>
            <p>Projeto de planejamento com o objetivo de atrair o turismo e promover a cidade de Aveiro.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/plataformatec-website.html">
          <img src="images/thumb-ptec-website.png" alt="foto tipos móveis" />
          <div class="box-hover">
            <h2>Plataformatec</h2>
            <span>Interface</span>
            <p>Criação do novo site da empresa Plataformatec.</p>
          </div>
        </a>
      </article>
      <article class="box">
        <a href="/projects/elixir.html">
          <img src="images/thumb-elixir.png" alt="foto tipos móveis" title="tipos móveis"/>
          <div class="box-hover">
            <h2>Elixir</h2>
            <span>Design gráfico</span>
            <p>Criação de logotipo para linguagem de programação.</p>
          </div>
        </a>
      </article>
    </section>
  </div>
  <span class="register">Todos os direitos reservados © 2013 Bruna Kochi</span>
</section>
