<section class="page">
  <div class="wrapper-content">
    <section id="definition">
      <div class="definition-box">
        <div class="definition-name">
          <h1 class="section-title">BRUNA KOCHI</h1>
          <span class="divider"></span>
          <h2>PORTFOLIO</h2>
        </div>
        <span class="section-description">Service, Strategic and User Experience Designer. </br>Developing services, web applications, branding and graphic design projects. Typography and art lover.</span>
      </div>
    </section>

    <section class="my-projects">
      <aside>
        <h1 class="section-title">RECENT PROJECTS</h1>
        <span class="divider"></span>
        <!-- <nav class="filters">
          <ul>
            <li>All projects</li>
            <li>Recent projects</li>
            <li>Service design</li>
            <li>Strategic design</li>
            <li>UX / UI design</li>
            <li>Graphic design</li>        
          </ul>
        </nav> -->
      </aside>
      <div class="projects-thumbs">
        <div class="content">
          <article class="box">
            <a href="/projects/nodus.html">
              <img src="/images/thumb-nodus-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>Nodus</h2>
                <span>Research and Installation</span>
                <p>Project that questions the human interrelation and network relations through design</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/autoseg-branding.html">
              <img src="https://unsplash.it/g/400/300/?random" alt="autoseg branding" />
              <div class="box-hover">
                <h2>Autoseg Branding</h2>
                <span>Graphic Design</span>
                <p>Redesign the company branding to create a new identity.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/soccerex.html">
              <img src="/images/thumb-soccerex-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>Soccerex</h2>
                <span>UX / UI Design</span>
                <p>App to guide inside an exhibition</p>
              </div>
            </a>
          </article>
        </div>
        <div class="content">
          <article class="box">
            <a href="/projects/plataformatec-website.html">
              <img src="/images/thumb-ptec-bw.png" alt="plataformatec website" />
              <div class="box-hover">
                <h2>Plataformatec</h2>
                <span>Interface</span>
                <p>New website to Plataformatec company. Front-end and User Interface.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/barbearia-miranda.html">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>Miranda Barbershop</h2>
                <span>Strategic Design</span>
                <p>Project with the goal to revitalize the traditional Miranda Barbershop.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/elixir.html">
              <img src="/images/thumb-elixir-bw.png" alt="elixir" title="elixir"/>
              <div class="box-hover">
                <h2>Elixir</h2>
                <span>Graphic Design</span>
                <p>Logo creation for a programming language.</p>
              </div>
            </a>
          </article>
        </div>
        <div class="content">
          <article class="box">
            <a href="/projects/rice-bean.html">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>Rice and bean</h2>
                <span>Design Thinking</span>
                <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/espaco-arte.html">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>Espaço Arte</h2>
                <span>Interface</span>
                <p>Website and iPad App to an art gallery.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/agora.html">
              <img src="https://unsplash.it/g/400/300/?random" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>Ágora</h2>
                <span>Strategic Design</span>
                <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div>
        <a class="button-more" href="/projects.html">SEE MORE PROJECTS ></a>
      </div>
    </section>
  </div>

  <div class="wrapper-full background">
    <section id="home-about">
      <img src="/images/bruna-kochi-2.jpeg" alt="Bruna Kochi" data-pin-nopin="true">
      <div class="home-about-content">
        <h1 class="section-title">ABOUT</h1>
        <span class="divider"></span>
        <p class="section-description">I am a Designer from Brazil living in Milan. In my life I always pursuit projects that could bring value for people’s lives and a society more affordable and fair. My education background is in Graphic Design at Sao Paulo State University - UNESP, worked as UX/UI Designer and now working as Service Designer.</p>
        <div>
          <a class="button-more" href="/about.html">SEE MORE ABOUT ></a>
        </div>
        <!-- <span>A person passionate about design and fascinated by arts.</span> -->
      </div>
      
    </section>
  </div>

</section>




