<section class="page">
  <div class="wrapper-content">
    <section id="definition">
      <div class="definition-box">
        <div class="definition-name">
          <h1 class="section-title">BRUNA KOCHI</h1>
          <span class="divider"></span>
          <h2>PORTFOLIO</h2>
        </div>
        <span class="section-description">Service, Strategic and User Experience Designer. </br>Developing services, web applications, branding and graphic design projects. Typography and art lover.</span>
      </div>
    </section>

    <section class="my-projects">
      <aside>
        <h1 class="section-title">RECENT PROJECTS</h1>
        <span class="divider"></span>
        <!-- <nav class="filters">
          <ul>
            <li>All projects</li>
            <li>Recent projects</li>
            <li>Service design</li>
            <li>Strategic design</li>
            <li>UX / UI design</li>
            <li>Graphic design</li>        
          </ul>
        </nav> -->
      </aside>
      <div class="projects-thumbs">
        <div class="content">
          <article class="box">
            <a href="/projects/sourun.html">
              <img src="/images/thumb-sourun-bw-3.png" alt="sourun" />
              <div class="box-hover">
                <h2>SOURUN</h2>
                <span>Service Design</span>
                <p>Designing the first online running advisory service with real coaches.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/nodus.html">
              <img src="/images/thumb-nodus-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>NODUS</h2>
                <span>Research and Installation</span>
                <p>Project that questions the human interrelation and network relations through design.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/rice-bean.html">
              <img src="/images/thumb-rice-bean-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>RICE AND BEAN</h2>
                <span>Design Thinking</span>
                <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/autoseg.html">
              <img src="/images/thumb-autoseg-bw.png" alt="autoseg branding" />
              <div class="box-hover">
                <h2>AUTOSEG</h2>
                <span>Graphic Design</span>
                <p>Redesign the company branding to create a new identity.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/soccerex.html">
              <img src="/images/thumb-soccerex-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>SOCCEREX</h2>
                <span>UX / UI Design</span>
                <p>App to guide inside an exhibition</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/type.html">
              <img src="/images/thumb-typo-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>TYPO</h2>
                <span>Graphic Design</span>
                <p>Letterpress.</p>
              </div>
            </a>
          </article>
        </div>
        <div class="content">
          <article class="box">
            <a href="/projects/monte-azul.html">
              <img src="/images/thumb-monte-azul-bw.png" alt="monte azul" title="monte azul"/>
              <div class="box-hover">
                <h2>MONTE AZUL</h2>
                <span>Strategic Design</span>
                <p>Contributing for sustainability of NGO Monte Azul through strategic design.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/barbearia-miranda.html">
              <img src="/images/thumb-miranda-barbershop-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>MIRANDA BARBERSHOP</h2>
                <span>Strategic Design</span>
                <p>Project with the goal to revitalize the traditional Miranda Barbershop.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/money-bag.html">
              <img src="/images/thumb-money-bag-bw.png" alt="foto tipos móveis" title="money bag"/>
              <div class="box-hover">
                <h2>MONEY BAG</h2>
                <span>Research and Installation</span>
                <p>Designing the future of money transactions in a cashless scenario.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/plataformatec-website.html">
              <img src="/images/thumb-ptec-bw.png" alt="plataformatec website" />
              <div class="box-hover">
                <h2>PLATAFORMATEC</h2>
                <span>Interface</span>
                <p>New website to Plataformatec company. Front-end and User Interface.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/elixir.html">
              <img src="/images/thumb-elixir-bw.png" alt="elixir" title="elixir"/>
              <div class="box-hover">
                <h2>ELIXIR</h2>
                <span>Graphic Design</span>
                <p>Logo creation for a programming language.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/espaco-arte.html">
              <img src="/images/thumb-espaco-arte-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>ESPAÇO ARTE</h2>
                <span>UX / UI Design</span>
                <p>Website and iPad App to an art gallery. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</p>
              </div>
            </a>
          </article>
        </div>
        <div class="content">
          <article class="box">
            <a href="/projects/rice-bean.html">
              <img src="/images/thumb-guia-folha-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>WORKSHOP GUIA FOLHA</h2>
                <span>Strategic Design</span>
                <p>Thinking in the future of Guia Folha, a cultural city guide of São Paulo.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/rice-bean.html">
              <img src="/images/thumb-spy-hero-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>SPY HERO</h2>
                <span>Service Design</span>
                <p>How to help hearing aid users to calibrate their devices using gamefication.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/space-box.html">
              <img src="/images/thumb-space-box-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>SPACE BOX</h2>
                <span>Service Design</span>
                <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/espaco-arte.html">
              <img src="/images/thumb-devise-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              <div class="box-hover">
                <h2>DEVISE</h2>
                <span>Interface</span>
                <p>Designed logo for a flexible authentication solution for Ruby on Rails programming language.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/emporio-gourmet.html">
              <img src="/images/thumb-emporium-gourmet-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>EMPORIO GOURMET</h2>
                <span>Graphic Design</span>
                <p>Graphic design project for gastronomy magazine.</p>
              </div>
            </a>
          </article>
          <article class="box">
            <a href="/projects/musashi.html">
              <img src="/images/thumb-musashi-bw.png" alt="foto tipos móveis" />
              <div class="box-hover">
                <h2>MUSASHI</h2>
                <span>Graphic Design</span>
                <p>Graphic design project for book.</p>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div>
        <a class="button-more" href="/projects.html">SEE MORE PROJECTS ></a>
      </div>
    </section>
  </div>

  <!-- <div class="wrapper-full background">
    <section id="home-about"> -->
      <!-- <img src="/images/bruna-kochi.png" alt="Bruna Kochi" data-pin-nopin="true"> -->
      <!-- <div class="home-about-content">
        <h1 class="section-title">ABOUT</h1>
        <span class="divider"></span>
        <p class="section-description">I am a Designer from Brazil living in Milan. In my life I always pursuit projects that could bring value for people’s lives and a society more affordable and fair. My education background is in Graphic Design at Sao Paulo State University - UNESP, worked as UX/UI Designer and now working as Service Designer.</p>
        <div>
          <a class="button-more" href="/about.html">SEE MORE ABOUT ></a>
        </div> -->
        <!-- <span>A person passionate about design and fascinated by arts.</span> -->
      <!--</div>
      
    </section>
  </div> -->

</section>




