<section class="page">
  <div class="wrapper-content">
    <section id="definition">
      <h1 class="section-title">BRUNA KOCHI</h1>
      <span class="divider"></span>
      <!-- <h2>Portfolio</h2> -->
      <span class="section-description">Graphic, Strategic and User Experience Designer. </br>Web applications, branding and graphic design projects. Typography and art lover.</span>
    </section>

    <section id="my-projects">
      <aside>
        <h1 class="section-title">RECENT PROJECTS</h1>
        <span class="divider"></span>
        <!-- <nav class="filters">
          <ul>
            <li>All projects</li>
            <li>Recent projects</li>
            <li>Service design</li>
            <li>Strategic design</li>
            <li>UX / UI design</li>
            <li>Graphic design</li>        
          </ul>
        </nav> -->
      </aside>
      <div class="content">
        <article class="box">
          <a href="/projects/nodus.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" title="tipos móveis"/>
            <div class="box-hover">
              <h2>Nodus</h2>
              <span>Research and Installation</span>
              <p>Project that questions the human interrelation and network relations through design</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/autoseg-branding.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="autoseg branding" />
            <div class="box-hover">
              <h2>Autoseg Branding</h2>
              <span>Graphic Design</span>
              <p>Redesign the company branding to create a new identity.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/emporio-gourmet.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" title="tipos móveis"/>
            <div class="box-hover">
              <h2>Emporium Gourmet</h2>
              <span>Graphic Design</span>
              <p>Graphic Production, Branding and visual composition layout.</p>
            </div>
          </a>
        </article>
        <!-- <article class="box">
          <a href="/projects/soccerex.html">
            <img src="images/thumb-soccerex.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Soccerex</h2>
              <span>Interface</span>
              <p>UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/agora.html">
            <img src="images/thumb-agora.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Ágora</h2>
              <span>Strategic Design</span>
              <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/autoseg-website.html">
            <img src="images/thumb-autoseg-website.png" alt="autoseg website" />
            <div class="box-hover">
              <h2>Autoseg website</h2>
              <span>Interface</span>
              <p>New website to Autoseg company. Front-end and User Interface.</p>
            </div>
          </a>
        </article> -->
      </div>
      <div class="content">
        <article class="box">
          <a href="/projects/plataformatec-website.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="plataformatec website" />
            <div class="box-hover">
              <h2>Plataformatec</h2>
              <span>Interface</span>
              <p>New website to Plataformatec company. Front-end and User Interface.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/barbearia-miranda.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Miranda Barbershop</h2>
              <span>Strategic Design</span>
              <p>Project with the goal to revitalize the traditional Miranda Barbershop.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/elixir.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" title="tipos móveis"/>
            <div class="box-hover">
              <h2>Elixir</h2>
              <span>Graphic Design</span>
              <p>Logo creation for a programming language.</p>
            </div>
          </a>
        </article>
        <!-- <article class="box">
          <a href="/projects/plataformatec.html">
            <img src="images/thumb-ptec.png" alt="Plataformatec" />
            <div class="box-hover">
              <h2>Plataformatec Branding</h2>
              <span>Brand Redesign</span>
              <p>Redesign the company branding to create a new identity.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/agora.html">
            <img src="images/thumb-agora.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Ágora</h2>
              <span>Strategic Design</span>
              <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/autoseg-website.html">
            <img src="images/thumb-autoseg-website.png" alt="autoseg website" />
            <div class="box-hover">
              <h2>Autoseg website</h2>
              <span>Interface</span>
              <p>New website to Autoseg company. Front-end and User Interface.</p>
            </div>
          </a>
        </article> -->
      </div>
      <div class="content">
        <article class="box">
          <a href="/projects/rice-bean.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Rice and bean</h2>
              <span>Design Thinking</span>
              <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/espaco-arte.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" title="tipos móveis"/>
            <div class="box-hover">
              <h2>Espaço Arte</h2>
              <span>Interface</span>
              <p>Website and iPad App to an art gallery.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/agora.html">
            <img src="https://unsplash.it/g/355/255/?random" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Ágora</h2>
              <span>Strategic Design</span>
              <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
            </div>
          </a>
        </article>
        <!-- <article class="box">
          <a href="/projects/autoseg-website.html">
            <img src="images/thumb-autoseg-website.png" alt="autoseg website" />
            <div class="box-hover">
              <h2>Autoseg website</h2>
              <span>Interface</span>
              <p>New website to Autoseg company. Front-end and User Interface.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/agora.html">
            <img src="images/thumb-agora.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>Ágora</h2>
              <span>Strategic Design</span>
              <p>Project planning with the goal of attracting tourism and promoting the city of Aveiro.</p>
            </div>
          </a>
        </article>
        <article class="box">
          <a href="/projects/autoseg-website.html">
            <img src="images/thumb-autoseg-website.png" alt="autoseg website" />
            <div class="box-hover">
              <h2>Autoseg website</h2>
              <span>Interface</span>
              <p>New website to Autoseg company. Front-end and User Interface.</p>
            </div>
          </a>
        </article> -->
      </div>
    </section>
  </div>

  <div class="wrapper-full background">
    <section id="home-about">
      <h1 class="section-title">ABOUT</h1>
      <span class="divider"></span>
      <div class="home-about-content">
        <img src="/images/bruna-kochi-2.jpeg" alt="Bruna Kochi" data-pin-nopin="true">
        <p class="section-description">I am passionate about design and fascinated by art. Graduated at Sao Paulo State University, I enjoy discover and share new experiences and live to the fullest different cultures. In a simple personality, unique manner and smiling face, I am always looking for new challenges and I make my dreams as my path.</p>
        <span>I am passionate about design and fascinated by art. Graduated at Sao Paulo State University
        </span>
      </div>
    </section>
  </div>

  <div class="wrapper-full">
    <section id="home-contact">
      <h1 class="section-title">CONTACT</h1>
      <span class="divider"></span>
      <p class="section-description">I am passionate about design and fascinated by art. Graduated at Sao Paulo State University, I enjoy discover and share new experiences and live to the fullest different cultures. In a simple personality, unique manner and smiling face, I am always looking for new challenges and I make my dreams as my path.</p>
    </section>
  </div>
</section>




