---
title: Bruna Kochi - Graphic Designer
---

<section class="about-content">
  <article>
    <h1>Bruna Kochi</h1>
    <p>Designer formada pela Unesp, apaixonada pelo design e encantada pelas artes. Participei do programa de intercâmbio pela Universidade de Aveiro, onde pude contemplar o design, descobrir o novo, trocar experiências e vivênciar ao máximo diversas culturas. De personalidade simples, jeitos singulares e facetas sorridentes, busco sempre novos desafios e faço dos sonhos o caminho.</p>
    <h3>Contato</h3>
    <p>Email:  brutiko@gmail.com<br/>
      Twitter:  @brutiko<br/>
      Cel:  +55 19 9731 4907
    </p>
  </article>
</section>
