<section class="about-content">
  <article class="bruna-description">
    <h1>Bruna Kochi</h1>
    <p>Hi! I am Bruna Kochi and you can call me Brutiko. I am passionate about design and fascinated by art. Graduated at Sao Paulo State University, I enjoy discover and share new experiences and live to the fullest different cultures. In a simple personality, unique manner and smiling face, I am always searching for new challenges and I make my dreams as my paths.
      </p>
    <h3>Contact</h3>
    <p>Email:  brunakochi@gmail.com<br/>
      Twitter:  @brutiko<br/>
      Mobile:  +55 11 949 566 357
    </p>
  </article>
  <aside class="bruna-photo">
    <img src="/images/bruna-kochi.png" alt="Bruna Kochi"/>
  </aside>
</section>
